*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
@media (max-width:895px){
    header{
        flex-direction: column;
    }
}

@media (max-width:385px){
    .contenedores{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:620px){
    .map1 .map2{
        height: fit-content;
    }
}


a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    min-height: 70px;
    align-items: center;
    background-color: black;
    justify-content:space-between;
    padding: 40px
    }


.logo img{
    height: 80px;
    margin-right: 90px;
    clip-path: circle(50% at center);
    text-align: center;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    }
nav{
    padding: 10px 0px;
}

.titulo{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
}
hr {
    height: 5px;
    width: 100%;
    background-color: white;
  }

  nav a:hover
  {
      color: violet;
  }
.contenedores{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contenedores img{
    height: 100px;
    padding: 30px;
}

h1{
    color: white;
    font-size: 45px;

}
body h2{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration-line: underline;
}
body h3{

    text-transform: lowercase;
    color: brown;
}

#parrafosub{
    background-repeat: round;
    background-color: darkgray;
}

#subtitulos{
    text-align: center;
    text-decoration: dotted;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: 0px;
    text-shadow: 3px 3px 0 black;
   }
footer h3{
    
    font-style: oblique;
    font-weight: bold;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: none;
    color: red;
}


#nosotros {
    color: white;
    text-align: center;
}
#name{
color: white;
}
#mail{
    color: white;
}
#phone{
    color: white;
}
#tatu{
    color: white;
}
#address{
    color: white;
}
form{
    font-size-adjust: none;
    font-stretch: narrower;
    text-align: center;
}
#producto-titulo{
    text-decoration:none ;
    text-align: center;
}

p{
    color: brown;
}
.conteinerrr{
    display: flex;
 justify-content: end;
}
.conteinerrr h3{
    text-indent: 20px;
    text-align: center
}

.alinear{
    width: 450px;
    height: 350px;
}
.map1{
    text-align: center;
}
.desc1{
    text-align: center;
}
.Primertitulo5 h1{
color: white
}





